<html>

    <head> 
        
    </head>
    
    <body>
        <h1>
            hello from handlebars
        </h1>
        <h3>
        {{title}}
        </h3>
        
        <p>
            <ul>
                {{#each list}}
                    <li> {{this}} </li>
                {{/each}}
            </ul>
        </p>
    </body>

</html>