<html>

    <head> 
        
    </head>
    
    <body>
        <h1>
            hello from ejs
        </h1>
        <h3>
        <%=title%>
        </h3>
        
        <p>
            <ul>
                <% for(var i=0; i<list.length;i++){ %>
                    <li> <%=list[i] %> </li>
                <% } %>
            </ul>
        </p>
    </body>

</html>